@import "colours.css";

#workspaces {
  background-color: @surface0;
}

#workspaces button {
    padding: 0 5px;
    color: @yellow;
    background-color: @surface0;
    border-radius: 8px;
}

#workspaces button.empty {
    color: @base;
}

#workspaces button.active {
    color: @mauve;
    background-color: @surface1;
}

#workspaces button.urgent {
    background-color: @mauve;
    color: @yellow;
}
